<ion-view title="Emergency Contacts ">
    <ion-content padding="'true'" class="has-header">
        <a menu-close="" href="#/page11" class="button button-royal button-block button-large">Next</a>
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search for Contact">
            </label>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>