<ion-view title="Invite friends">

	 <ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	  </ion-nav-buttons>
	  <ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-android-notifications-none" ng-click="openModal()"></button>
	   </ion-nav-buttons>
   
   
    <ion-content padding="'true'" class="has-header">
        <div class="button-bar">
            <a menu-close="" href="#/index" class="button button-stable button-block ">Skip</a>
            <a menu-close="" href="#/index" class="button button-stable button-block ">Invite All</a>
            <a menu-close="" href="#/index" class="button button-stable button-block ">Continue</a>
        </div>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>