<ion-view title="Notifications">

  <ion-nav-buttons side="right">
	<button class="button button-icon button-clear ion-android-notifications-none" ng-click="openModal()"></button>
   </ion-nav-buttons>

    <ion-content padding="'true'" class="has-header"> 
<div class="list" ng-repeat="notification in notificationslist" id="notifications">

    <a class="item item-avatar" href="#" style="border-radius: 12px;" ng-click="startJob(notification)">
      <img src="http://ionicframework.com/img/docs/venkman.jpg">
      <h2>{{notification.title}}</h2>
      <p>{{notification.desc}}</p><p>received:</p>
    </a>


</div>
	</ion-content>
</ion-view>