<ion-view title="Verification">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <div class="spacer" style="height: 40px;"></div>
            <label class="item item-input">
                <span class="input-label">Enter OTP</span>
                <input type="password" placeholder="">
            </label>
			<br/>
			
			<div class="row">
				<div class="col text-center">
					<button class="button button-positive">Verify</button>
					<button class="button button-positive">Resend</button>
				</div>
				
			</div>
			
            <a menu-close="" href="#/signup" class="button button-positive button-clear button-block ">Change Mobile Number</a>
		
        </form>
    </ion-content>
</ion-view>